aiofiles==23.1.0
aiogram==3.0.0
aiohttp==3.8.5
aiosignal==1.3.1
annotated-types==0.5.0
ansicon==1.89.0
asgiref==3.6.0
async-timeout==4.0.3
attrs==22.2.0
bidict==0.22.1
certifi==2023.7.22
charset-normalizer==3.2.0
clr==1.0.3
colorama==0.4.6
console==0.9907
distlib==0.3.6
Django==4.1.7
djangorestframework==3.14.0
exceptiongroup==1.1.0
ezenv==0.92
filelock==3.9.0
frozenlist==1.4.0
idna==3.4
iniconfig==2.0.0
jinxed==1.2.0
magic-filter==1.0.11
methodism==0.2.1
multidict==6.0.4
myModule==1.0.0
openai==0.28.0
packaging==23.0
pipenv==2023.2.18
platformdirs==3.1.0
pluggy==1.0.0
psycopg2==2.9.6
pydantic==2.3.0
pydantic_core==2.6.3
pytest==7.2.2
pytest-socket==0.6.0
python-engineio==4.3.4
python-socketio==5.7.2
pytz==2023.3
requests==2.31.0
six==1.16.0
socket.py==0.1.0
sockets==1.0.0
sqlparse==0.4.3
telegram==0.0.1
tomli==2.0.1
tqdm==4.66.1
transliterate==1.10.2
typing_extensions==4.7.1
tzdata==2022.7
urllib3==2.0.4
virtualenv==20.20.0
virtualenv-clone==0.5.7
websockets==10.4
yarl==1.9.2
