{% extends 'base.html' %}
  {% load static %}
{% block content %}




  <!-- Main Sidebar Container -->


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Profile</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>

            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="{% static 'dist/img/user6-128x128.jpg' %}"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{ user }}</h3>

                <p class="text-muted text-center">{{ user.prosition }}</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Followers</b> <a class="float-right">1M</a>
                  </li>
                  <li class="list-group-item">
                    <b>Following</b> <a class="float-right">1</a>
                  </li>
                  <li class="list-group-item">
                    <b>Friends</b> <a class="float-right">0</a>
                  </li>
                </ul>


              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->


            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">


                  <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Settings</a></li>
                </ul>
              </div><!-- /.card-header -->

              <form method="post">
                {% csrf_token %}

                <div class="card-body">
                <div class="tab-content">
                  <div class=" active tab-pane" id="settings">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="name" id="inputName" value="{{ user.name }}" placeholder="Name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" name="email" id="inputEmail" value="{{ user.email }}" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputName2" class="col-sm-2 col-form-label">Familya</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="familya" id="inputName2" value="{{ user.familya }}" placeholder=" Last Name">
                        </div>
                      </div>
                       <div class="form-group row">
                        <label for="Phone" class="col-sm-2 col-form-label">Phone</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="phone" id="Phone" value="{{ user.phone }}" placeholder="Phone">
                        </div>
                      </div>
                       <div class="form-group row">
                        <label for="Lavozim" class="col-sm-2 col-form-label">Lavozim</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="prof" id="Lavozim" value="{{ user.prof }}" placeholder="Lavozim" disabled>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="Info" class="col-sm-2 col-form-label">Info</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" id="Info" name="info"  placeholder="Info" >{{ user.info}}</textarea>
                        </div>
                      </div>

                      <div class="form-group row">
                     <button type="submit" class="btn btn-wd btn-success  ">
                <span class="btn-label">
                    <i class="fa fa-save"></i>
                </span>
                Save
                  </button>
                      </div>
                    </form>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
                </form>
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


{% endblock %}